@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
* {
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    font-family: 'Young Serif', serif;
}
.container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    height: 900px;
    background: url(bg.png)
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #1c2322;
    border-bottom: 5px solid rgb(250, 244, 232);
    max-width: 1440px;
    height: 90px;
}
.text-logo{
    color: white;
    font-weight: 900;
    font-size: 24px;
}
#search{
    position: relative;
    margin-left: 40px;
    padding-left: 10px;
    width: 100%;
    width: 500px;
    height: 30px;
    border: 2px solid #5f5b5b;
    border-radius: 5px;
    background-color: rgb(250, 244, 232);
}  
button{
    position: absolute;
    top: 36px;
    right: 453px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
main{
    margin: 0 auto;
    max-width: 1440px;
    height: 720px;
}
.img-container {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 40px;
}
.div {
    max-width: 370px;
    height: 220px;
    /* position: relative; */
}
.div img {
    max-width: 370px;
    height: 220px;
    object-fit: cover;
    margin-top: 20px;
    border: 1px solid black;
    background-color: white;
    border-radius: 3%;
}
img:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
footer{
    max-width: 1440px;
    height: 90px;
    border-top: 5px solid rgb(250, 244, 232);
    background-color: #1c2322;
}
a{
    text-decoration: none;
}
p{
    color: white;
    font-size: large;
    font-weight: 700;
}
footer{
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-between;
}
.text-logo:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.logo:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
a:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

@media screen and (min-width: 319px) and (max-width: 767px){
    #search{
        max-width: 200px;
    }
    .text-logo{
        font-size: smaller;
    }
    button{
        display: none;
    }
}
